.item {
    display: grid;

    grid-template-areas:
    "h h"
    "n c";
    color: Black;
    background-color: yellowgreen;

    padding: 5px;

}
.item img {
    width: 30px;
    height: 30px;
    border-radius: 30px
}

