.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItemsActive {
    color: gold;
}

.dialog {
    color:red;
}
.dialog a.active {
    color: red;
}

.messages {
    padding: 10px;
}

.message {

}