.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    colord: red;
}
.dialog {
    color: navajowhite;
}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItemsActive {
    color: black;
}

.messages {
    padding: 10px;
}

.message {

}